body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 5px;
}

input, select, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar {
  background: #007bff;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

